/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */
#header{}

#header .header-bucket{}

#header .header-bucket .header-element{
    padding: 0 12px;
}

#header .header-bucket .content{
    margin-left: 10px;
}

#header .header-bucket .logo{
    padding: 26px 0;
    margin-left: 30px;
}

#header .header-bucket .header-element a{
    text-decoration: none;
    color: #717171;
    font-size: 13px;
    font-family: 'Raleway',Arial,Helvetica,sans-serif;
}

#header .header-bucket .header-element .header-acc{
    padding-bottom: 20px;
}

#header .header-bucket .header-element .header-search{
    margin-bottom: 20px;
}

#header .header-bucket .header-element .header-search
input[type="text"]{
    height: 40px;
    width: 250px;
    line-height: 40px;
    border-radius: 23px;
    font-size: 13px;
    font-style: italic;
    color: #999;
    padding: 0 40px 0 15px;
    outline: none;
    border: 1px solid #e5e5e5;    
}

#header ::placeholder{
    color: #999;
    font-size: 13px;
}

#header .header-bucket .header-element .header-search{
    position: relative;
}

#header .header-bucket .header-element button{
    background: none;
    outline: none;
    border: none;
    color: #333;
    font-size: 15px;
    position: absolute;
    right: 17px;
    top: 8px;
}

#header .header-bucket .header-element .header-cart a{
    font-size: 40px;
    padding-bottom: 20px;
    display: inline-block;
}


/* Header Bottom Nav Section */
#header .nav-bucket{}

#header .nav-toggle{
    border: none;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 13px;
    color: #fff;
    background-color: #444;
    text-align: left;
    border-radius: 1px;
}

#header .links{
    overflow: hidden;
    height: 0;
}

#header .links a{
    display: block;
}

#header .nav-bucket ul li a{
    text-decoration: none;
    color: #fff;
}

#header li{
    position: relative;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 0 13px;
    background-color: #444;
    color: #fff;
    font-weight: 300;
    line-height: 40px;
}

/* Hero Section */
#hero{
    /* height: 200px; */
}

#hero .hero-bucket{}

#hero .hero-bucket .hero-element{
    flex-basis: 35%;
}

#hero .hero-bucket .hero-element h1{
    font-size: 8px;
    font-weight: 800;
    color: #333333;
    font-family: 'Raleway',sans-serif;
}

#hero .hero-bucket .hero-element button{
    border-radius: 1px;
    font-family: 'Raleway',sans-serif;
    color: #62D2A2;
    border: 1px solid #62D2A2;
    font-size: 14px;
    font-weight: 600;
    visibility: hidden;
}

/* Specialities Section */

#speciality{
    background-color: #F3F6F5;
    font-family: 'Raleway',Arial,Helvetica,sans-serif;
    padding: 50px 15px;
}

#speciality .speciality-item{
    background-color: #62d2a2;
    border-radius: 8px;
}

#speciality .speciality-element{
    
    position: relative;
    text-align: left;
    padding: 35px 34px 25px 15px;
    display: flex;
    justify-content: center;
}

#speciality .speciality-element .speciality_title_bar{
    width: 60px;
   height: 2px;
   background-color: #a5e5ca;
   margin: 0 auto;
}

#speciality .speciality-element h3{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

#speciality .speciality-element p{
    color: #a5e5ca;
    font-size: 14px;
}

#speciality .speciality-element .speciality-icon{
    /* position: absolute;
    left: 20px; */
}

#speciality .speciality-element .speciality-icon i{
    color: #a5e5ca;
    font-size: 40px;
}

/* Popular-Category Section */

#popular-category{
    background-color: #F3F6F5;
}

#popular-category .section-title{
    margin-bottom: 30px;
    text-align: center;
}

#popular-category .section-title h2{
    font-size: 26px;
    font-family: 'Berkshire Swash', cursive;
}

#popular-category .section-content{
    padding: 0 15px 50px 15px;
}

#popular-category .popular-category-elements{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#popular-category .popular-category-elements.vegetables{
    background-color: #c3ead5;
}

#popular-category .popular-category-elements.fruits{
    background-color: #f3cd97;
}

#popular-category .popular-category-elements.juices{
    background-color: #95e0d2;
}

#popular-category .popular-category-elements.meats{
    background-color: #fa8383;
}

#popular-category .popular-category-content a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
}

#popular-category .popular-category-content h2{
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway';
}

#popular-category .popular-category-content{
    min-height: 150px;
}



/* // Small devices (landscape phones, 576px and up) */
@media(min-width: 576px){

    /* Header Section */
    #header .header-bucket .header-element .header-cart i{
        border-left: 1px solid #eee;
        margin-left: 30px;
        padding: 0 0 0 30px;
    }

    /* Hero Section */
    #hero .hero-bucket .hero-element{
        flex-basis: 35%;
    }

    #hero .hero-bucket .hero-element h1{
        font-size: 14px;
        font-weight: 800;
    }

    #hero .hero-bucket .hero-element button{
        visibility: visible;
        text-align: center;
        padding: 10px 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media(min-width: 768px){
    #hero .hero-bucket .hero-element{
        flex-basis: 35%;
    }

    #hero .hero-bucket .hero-element h1 {
        font-size: 19px;
        font-weight: 800;
    }
}

/* // Large devices (desktops, 992px and up) */
@media(min-width: 992px){

    /* Header Section */
    #header{
        border-bottom: 2px solid #eee;
    }

    #header .header-bucket .header-element .header-acc{
        padding-bottom: 0;
    }

    #header .header-bucket .header-element .header-search{
        margin-bottom: 0;
        margin-left: 30px;
    }

    #header .header-bucket .header-element .header-cart a{
        padding-bottom: 0;
    }

    #header .nav-toggle{
        display: none;
    } 

    #header .links{
        display: flex;
        height: auto;
        margin-bottom: 0;
        overflow: visible;
    }

    #header .nav-bucket ul li a{
        color: #222222;
    }

    #header li{
        position: relative;
        font-size: 13px;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: 700;
        background: none;
        /* border-bottom: 1px solid rgba(97,95,95,.75); */
    }

    #header li:after{
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #62d2a2;
        opacity: 0;
        transition: 0.5s ease;
    }

    #header .nav-bucket ul li a{
        transition: 0.5s ease;
    }

    #header .nav-bucket ul li:hover a{
        color: #62d2a2;
    }

    #header li:hover:after{
        opacity: 1;
    }

    #header .nav-bucket ul li.active-nav a{
        color: #62d2a2;
    }

    #header .nav-bucket ul li.active-nav:after{
        opacity: 1;
    }

    /* Hero Section */
    #hero .hero-bucket .hero-element h1 {
        font-size: 25px;
        font-weight: 800;
    }

    #hero .hero-bucket {
        height: 60vh;
    }

    /* Specaility Section */
    #speciality .speciality-element {
        padding: 35px 34px 25px 15px;    
    }

    /* Popular-Category Section */
    #popular-category .popular-category-elements{
        width: 23%;
        margin: 0 9px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media(min-width: 1200px){

    /* Hero Section */
    #hero .hero-bucket .hero-element h1 {
        font-size: 30px;
        font-weight: 800;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media(min-width: 1400px){
    #header li{
        font-size: 15px;
    }

    /* Hero Section */
    #hero .hero-bucket .hero-element h1 {
        font-size: 35px;
        font-weight: 800;
    }
}
