/*responsive for extra small-xsm*/
.special{
    margin: 12px;
}
.container{
    background-color: #62D2A2;
    border: 1px solid #62D2A2;
    border-radius: 10px;
    padding: 0px 20px 0px 25px;
}
#col{
    border-bottom: 1px solid white;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
#col1{
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special .row i{
    font-size: 37px;
    color: #A5E5CA;
}
.special .row h1{
    font-family: Raleway,Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}
.special .row p{
    font-family: Raleway,sans-serif;
    color: #A5E5CA;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}
/*responsive for small-sm*/
@media (min-width:576px){

}
/*responsive for medium-md*/
@media (min-width:768px){

}/*responsive for large-lg*/
@media (min-width:992px){
#col{
    border-bottom: none;
    border-right: 1px solid white;
}
}/*responsive for extra large-xl*/
@media (min-width:1200px){
.special .row i{
    font-size: 50px;
}
}
/*responsive for extra extra large-xxl*/
@media (min-width:1400px){
.special .container{
    width: 83%;
}
}